Source: t10-keyboard
Section: misc
Priority: extra
Maintainer: FIT 42 <fit-42@googlegroups.com>
Uploaders: Nicolai Ommer <nicolai.ommer@gmail.com>, Daniel Andres Lopez <andreslopez.daniel@gmail.com>, Dirk Klostermann <klostermannn@gmail.com>, Felix Pistorius <f.pistorius@web.de>, Sebastian Nickel <seb.nickel@gmail.com> 
Build-Depends: debhelper (>> 7), javahelper (>= 0.32), ant, git 
Build-Depends-Indep: default-jdk
Standards-Version: 3.9.1
Homepage: http://code.google.com/p/t10-onscreen-keyboard/

Package: t10-keyboard
Architecture: all
Depends: ${java:Depends}, ${misc:Depends}
Description: T10 On-Screen Keyboard
 Includes automatic word completion, based on the users behaviour
