
[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=T10 On-Screen Keyboard
GenericName=On-Screen Keyboard
Comment=Intelligent On-Screen keyboard
Icon=/usr/share/t10-keyboard/t10-keyboard_icon.png
TryExec=t10-keyboard
Exec=t10-keyboard
Terminal=0
Categories=Java;Application;Accessibility;
Name[en_US]=T10 On-Screen Keyboard
