
[Desktop Entry]
Type=Application
Version=0.7
Encoding=UTF-8
Name=T10 On-Screen Keyboard
GenericName=On-Screen Keyboard
Comment=Intelligent On-Screen keyboard
Icon=/usr/share/icons/UseAcc/32x32/useacc_32.png
TryExec=t10-onscreen-keyboard
Exec=t10-onscreen-keyboard
Terminal=0
Categories=Java;Application;Accessibility;
Name[en_US]=T10 On-Screen Keyboard
